@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

header{
    background-color: antiquewhite;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px ;
}

.logo{
    text-emphasis: none;
    color: brown;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

.navigation a{
    color: brown;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}

.navigation a:hover{
    color: beige;
}

section{
    padding: 100px 200px;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main h2{
    color: brown;
    font-size: 1.4em;
    font-weight: 500;
}

.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: blanchedalmond;
    font-size: 3em;
    font-weight: 600;
}

.main h3 {
    color: beige;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn{
    color: beige;
    background-color: brown;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: lpx;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}

.main-btn:hover{
    background-color: brown;
    transform: scale(1.1);
}

.socile-icons a {
    color: beige;
    font-size: 1.7em;
    padding-right: 30px;
    }

    .social-icons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.social-icons i {
  font-size: 35px;
  color: #f5d7b3;
  margin: 15px;
  opacity: 0.9;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.social-icons i:hover {
  transform: scale(1.2);
  opacity: 1;
} 
